body {
  margin: 0;
  padding: 0;
  background: #F5F8FD;
  font-family: Oswald, sans-serif;
  font-style: normal;
  color: #1A2328;
}

.background {
  width: 100vw;
  height: 100vh;
}

header{
  height: 70px;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
}

.title{
  padding-top:40px;
}

.content{
  margin: 0px 150px 0px 150px;
}

.inputs{
  padding-top: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;

  display: inline-flex;
  flex-wrap: wrap;
  gap: 37px;
}

.search-box{
  position: relative;
}
.search-box input{
  height: 40px;
  width: 140px;
  background: #FFFFFF;
  border: 1px solid #BAC6D8;
  box-sizing: border-box;
  border-radius: 5px;
  color: #8C9193;
  padding-left:11px;
}

.search-icon{
  position: absolute;
  right: 11px;
  pointer-events: none;
  top: 11px;
}

.arrow-dropdown{
  padding-right: 8px;
}

.placeholder{
  color: #484F53;
}