body {
  margin: 0;
  padding: 0;
  background: #F5F8FD;
  font-family: Oswald, sans-serif;
  font-style: normal;
  color: #1A2328;
}

.background {
  width: 100vw;
  height: 100vh;
}

header{
  height: 70px;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
}

.title{
  padding-top:40px;
}

.content{
  margin: 0px 150px 0px 150px;
}

.inputs{
  padding-top: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;

  display: inline-flex;
  flex-wrap: wrap;
  gap: 37px;
}

.search-box{
  position: relative;
}
.search-box input{
  height: 40px;
  width: 140px;
  background: #FFFFFF;
  border: 1px solid #BAC6D8;
  box-sizing: border-box;
  border-radius: 5px;
  color: #8C9193;
  padding-left:11px;
}

.search-icon{
  position: absolute;
  right: 11px;
  pointer-events: none;
  top: 11px;
}

.arrow-dropdown{
  padding-right: 8px;
}

.placeholder{
  color: #484F53;
}

.tabel-container{
  margin-top: 25px;
}

.tabel-container table{
  background: #FFFFFF;
  box-shadow: 0px 2px 18px #DDE3EC;
  border-radius: 5px;
  text-align: left;
  border-collapse: collapse;
  width: 1387px;
}

.tabel-container table th {
  border-bottom: 1px solid #CBD4E2;
}

.tabel-container table td {
  border-bottom: 1px solid #E5EAF0;
}

.tabel-container table thead{
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #484F53;
}
.tabel-container table tbody{
  font-size: 15px;
}

.tabel-container table th:first-child,td:first-child{
  padding-left: 24px;
  padding-right: 8px;
  width: 18px;
}

.tabel-container table th,td{
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom:12px;
  padding-right: 0px;
}

.tabel-container table input{
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border: 1px solid #BAC6D8;
  box-sizing: border-box;
  border-radius: 2px;
  margin:0px;
}
.position-right{
  float:right;
}